*.gcno
*.gcda
*.gcov
*.o
*.a
core.*
core
vgcore.*
tags
*.diff
*.s
*.i

test_bitmap
test_bst
test_deque
test_dict
test_dsu
test_file_utils
test_generic
test_graph
test_heap
test_htbl
test_list
test_mem
test_queue
test_sort
test_stack
test_string_utils
test_vector
test_fuzz
