language: c
compiler:
  - clang
  - gcc
install:
  - sudo apt-get -qq update
  - sudo apt-get install -y valgrind
script:
  - make check
 
dist: trusty
sudo: required
  
env:
  global:
   - secure: "h8OfwWkNd68LWUgIy1whPU4lc6YtLEPh9i93EaP9LpskFssivUIBQrmD9pynfytYiu1Pe/qgzwDRj9a0oM5elmRKQkXhG160jwbLMMsCATr61gjZ3zPyLz54NnXUVydS5MUS+fr8EVMQdFGaoVoxrAfXftXrT/JbSAFZ/01WHFLxBUpuO7qy5xTmkrekm14ARpnWhX7pFACbZJoebf6OfFSXF9MVeQ29IDyrlSPaREz99uwoRN+x98vQagrd7B2bn7qQu5VXKaZxm34grcl55gDYLHPiUNS3e0vif0QZ6qXml52PaMHvcqUiPR4Mk2DByz+QZNPSRiqPET09WLcqYiTLa+x/Ui9D1tdLaxYQCGVG/E36ja4+4h/Whv7chhzG0qOqkO8yJzPmOdKVG4PjAIUCV1S1Rpj/D2uz096XjJDErr0PRBJdNgsahJ1RIXgUSeVdLUX/58XjBvYX3YZrQIrSXfKzzrwmrnhoCxxO5z+pQ6hyWjFenra/y+NBXagMSUjXPGAwsIz3mnvqSjUgMbl8IjqLWNXzePh8Hqs2om/XZubn/fyaEDOr3nXrKQSpUgH1X0ONMmt6S9HiBIRxZmLugX07VGQdTH0awC22gqrKOosPH6LamMtQLC2UYZhxLJa+kS/uugEcueYS5hAzIyYJwVcad3rxCMNRNG56SfI="

before_install:
      - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

addons:
  coverity_scan:
    project:
      name: "vslapik/ugeneric"
      description: "Build submitted via Travis CI"
    notification_email: vslapik@gmail.com
    build_command_prepend: "make clean"
    build_command:   "make -j 4"
    branch_pattern: master
